.margin-bottom {
	margin-bottom: 30px;
}

.no-margin-bottom {
	margin-bottom: 0px;
}

@media (max-width: 768px) {
	.jumbotron {
		text-align: center;
	}
}

.btn-adjust, .btn {
	display: inline-block;
	margin-bottom: 5px;
}

ol li {
	margin-bottom: 10px;
}

.label-adjust, .label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 300;
} 

.progress-group {
	font-weight: 300;
}

.progress {
	margin-bottom: 5px;
}

.progress-bar {
	padding-left: 10px;
	text-align: left;
}

