/* global */
p {
    font-size: 15px;
}

.margin-bottom {
	margin-bottom: 30px;
}

.no-margin-bottom {
	margin-bottom: 0px;
}

.text-light {
    font-weight: 300;
}

.align-vertical {
    display: flex;
    align-items: center;
}

@media print {
    a:link:after, a:visited:after {
        content: "";
    }
    div.panel {
        page-break-inside: avoid;
    }
}


/* header */
@media (max-width: 768px) {
	.jumbotron {
		text-align: center;
	}
    .jumbotron p {
        font-size: 16px;
    }
}

.btn-adjust, .btn {
	display: inline-block;
	margin-bottom: 5px;
}

/* hightlight */
.highlight {
    border-left-color: #1b809e;
    border-left-width: 5px;
    border-left-style: solid;
    border-radius: 3px;
}

/* publication */
ol li {
	margin-bottom: 10px;
}

/* research */
.label-adjust h4,
.label-adjust h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
}

.label-adjust, .label {
	display: inline-block;
	margin-bottom: 5px;
    font-size: 100%;
	font-weight: 400;
} 

.progress-group {
	font-weight: 300;
}

.progress {
	margin-bottom: 5px;
}

.progress-bar {
	padding-left: 10px;
	text-align: left;
    font-size: 14px;
}

.panel-body > h5:first-child {
    margin-top: 0px
}

.panel-body > p:last-child {
    margin-bottom: 0px;
}
