/* global */
p {
    font-size: 15px;
}

.margin-bottom {
	margin-bottom: 30px;
}

.no-margin-bottom {
	margin-bottom: 0px;
}

.text-light {
    font-weight: 300;
}

/* header */
@media (max-width: 768px) {
	.jumbotron {
		text-align: center;
	}
}

.btn-adjust, .btn {
	display: inline-block;
	margin-bottom: 5px;
}

/* publication */
ol li {
	margin-bottom: 10px;
}

/* research */
.label-adjust, .label {
	display: inline-block;
	margin-bottom: 5px;
    font-size: 100%;
	font-weight: 300;
} 

.progress-group {
	font-weight: 300;
}

.progress {
	margin-bottom: 5px;
}

.progress-bar {
	padding-left: 10px;
	text-align: left;
    font-size: 14px;
}

